@import 'layout.scss';
@import 'footer.scss';

@media screen and (max-width: 1140px) {
  .contact {
    flex-direction: column;
    > .col-6,
      .col-6-m {
      width: 100% !important;
    }
    .info {
      padding: 4.5rem 5rem 4.5rem 5rem !important;
    }
    .contact-form {
      display: block !important;
    }
	}
}
@media screen and (max-width: 1280px) {
	.container {
		font-size: 0; 
		margin-left: auto;
		margin-right: auto;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}	
}
@media screen and (min-width: 1281px) {
	.boxes {
    .container {
      font-size: 0; 
      margin-left: auto;
      margin-right: auto;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      width: 75rem;
    }	
  }
}
@media screen and (max-width: 760px) {
	.container {
		width: 100%;
	}
	.logo {
		position: absolute;
	}
	.nav-bar{
    &.toggle {
      width: 100% !important;
      > ul {
				width: 100%;
				> li {
					padding: 0 0 1rem 0.5rem;
					float: none !important;
					display: block !important;
					text-align: left !important;
					&:nth-child(2) {
						padding-top: 2rem;
					}
				}
      }
    }
    > ul {
      > li {
				&:hover {
					> a {
						&.icon{
							&:after {
								content: none;
							}
						}
					}
				}
				&:not(:nth-child(1)) {display: none;}
				&:nth-child(1) {
					display: block !important;
					padding-top: 42px !important;
					padding-bottom: 47px !important;
					padding-right: 20px !important; 
				}
				> a {
					&.icon {
						font-size: 1rem;
						color: orange; 
						display: block !important;
						float: right;
					}
				}
      }
    }
  }
}
.content {
	width: 100%;
}
.contact:before, .contact:after {
	content: " ";
	display: table;
}
.contact:after {
	clear: both;
}
											/*Header*/
.header {
	min-height: 120px;
	position: relative;
	background: black;
	width: 100%;
	margin-bottom: 0;
	&:after {
    clear: both;
	}
	&:after, 
	&:before {
    content: " ";
    display: table;
	}
}


.container{
	&:after {
    clear: both;
	}
	&:after,
	&:before {
    content: " ";
    display: table;
	}
}
.logo {
	color: white;
	width: 30%;
	float: left;
	display: inline-block;
}
.nav-bar {
	width: 70%;
	float: right;
  text-align: right;
  > ul {
    display: inline-block;
    text-decoration: none;
    > li {
      padding-top: 42px;
      padding-bottom: 47px;
      padding-left: 20px;
      padding-right: 20px;
      display: inline-block;
      > a {
        text-decoration: none;
        .list-item{
          p {
            font-family: "Poppins", sans-serif;
            font-size: 1.1rem;
            color: white;
            text-decoration: inherit;
            transition: color .5s ease-in-out;
          }
          .bottom-bar {
            width: 0%;
						background: orange;
						height: 2px;
						margin-top: 5px;
						transition: width .5s;
						transition-timing-function: ease-in-out;
          }
          &.active{
            p{
              color: orange;
            }
            .bottom-bar{
              width: 100%;
            }
          }
        }
      }
      &:nth-child(1) {display: none;}
      &:hover {
        > a {
          .list-item {
            p {
              color: orange;
            }
            .bottom-bar {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.icon-bar {
	display: block !important;
	background-color: orange;
	border-radius: 5px;
	width: 22px;
  height: 2px;
  &:not(:nth-child(3)) {
    margin-bottom: 4px;
  }
}
										/*CONTACT*/
.contact {
	position: relative;
	display: flex;
	.title {
		color: #585858;
		font-size: 3rem;
		margin-bottom: 3rem;
	}
	.company-name {
		font-family: "Poppins", sans-serif;
		color: #585858;
		font-weight: 600;
		font-size: 1.5rem;
	}
	.info {
		padding: 4.5rem 3rem 4.5rem 36%;
		.row {
			position: relative;
			margin-bottom: .5rem;
		}
		.col {
			padding-left: 5px;
			padding-right: 5px;
			width: 100%;
		}
		.col-6 {
			padding-left: 5px;
			padding-right: 5px;
			margin: 2rem 0;
			display: inline-block;
		}
	}
}
.col-6 {
	display: inline-block;
	float: left;
	width: 50%;
}
.row {}

.address {
	font-family: "Poppins", sans-serif;
	font-weight: lighter;
	font-size: 1rem;
	color: #585858;
}
.e-mail {
	width: 100%;
	font-family: "Poppins", sans-serif;
	font-weight: lighter;
	font-size: 1rem;
	color: orange;
}
			/*FORM*/
.contact-form {
	display: inline-block;
}
.control {
	position: relative;
}
textarea {
	text-align: left;
	margin-top: 20px;
	padding-left: 1rem;
	padding-top: 1rem;
	width: 100%;
	height: auto;
	border-radius: .3rem;
	border: 1px solid silver;
	resize: none;
	overflow: auto;
	&::placeholder {
		font-family: "Poppins", sans-serif;
		color: silver;
	}
}
.submit {
	font-size: 1rem;
	margin-left: 5px;
	font-family: "Poppins", sans-serif;
	margin-top: 20px;
	padding: 1rem;
	color: white;
	background: orange;
	border-radius: .3rem;
	border: none;
	&:focus{
		outline: none;
	}
}
.googleMaps {
	display: flex;
	width:100%; 
	padding-bottom: 75% !important;
}
.col-6-m {
	padding-left: 0;
	padding-right: 0;
	display: flex;
	float: left;
	width: 50%;
}
