.footer-main {
	font-family: Poppins,sans-serif;
	padding: 2.3rem 0;
}
.col-8 {
	min-height: 1px;
	float: left;
	position: relative;
	width: 66.66%;
	padding-left: 15px;
	padding-right: 15px;
	> ul {
		font-size: 0;
		list-style: none;
		float: left;
		> li {
			display: inline-block;
			> a {
				text-decoration: none;
				font-size: 14px;
				color: #7e7e7e;
				> span{
					&:hover {
						color: orange;
						padding-bottom: 4px;
						border-bottom: 2px solid orange; 
					}
				}
				&:after {
					content: ' \2022 ';
					padding: 0 .5rem;
					color: orange; 
				}
				&.last{
					&:after {
						content: none;
						padding-right:  0;
					}
				}
			}
		}
	}
}
.col-4 {
	min-height: 1px;
	float: left;
	position: relative;
	width: 33.33%;
	padding-left: 15px;
	padding-right: 15px;
}

.footer-rights {
	text-align: right;
		font-size: 14px;
		color: #7e7e7e;
}
.footer-main--separator{
  border-top: 1px solid silver;
}