@import 'layout.scss';
@import 'footer.scss';

@media screen and (max-width: 1140px) {
	.search-bar {
    > input {
      width: 33.3% !important;
    }
    > input:nth-child(3) {
      border-radius: 0 5px 5px 0; 
    }
    > input[type="button"] {
      margin-top: 1rem;
      border-radius: 5px !important;
    }
  }
}
@media screen and (max-width: 1280px) {
	.container {
		font-size: 0; 
		margin-left: auto;
		margin-right: auto;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}	
}
@media screen and (min-width: 1281px) {
	.boxes {
    .container {
      font-size: 0; 
      margin-left: auto;
      margin-right: auto;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
      width: 75rem;
    }	
  }
}
@media screen and (max-width: 760px) {
	.container {
		width: 100%;
	}
	.logo {
    width: 70% !important;
		position: absolute;
	}
	.search-bar {
    > input, 
    button {
      width: 100% !important;
      border-radius: 5px !important;
      margin-bottom: 1rem;
    }
  }
	.nav-bar{
    > ul {
      > li {
        padding: 0 0 1rem 0.5rem;
        float: none !important;
        text-align: left !important; 
        &:not(:nth-child(1)) {
          display: none !important;
        }
        &:nth-child(1) {
          display: block !important;
          padding-top: 42px !important;
          padding-bottom: 47px !important;
          padding-right: 20px !important; 
        }
        &:nth-child(2) {
          padding-top: 2rem;
        }
        &:hover {
          > a{
            &.icon{
              &:after {
                content: none;
              }
            }
          }
        }
        > a.icon {
          font-size: 1rem;
          color: orange; 
          display: block !important;
          float: right;
        }
      }
    }
    &.toggle {
      width: 100% !important;
      > ul {
        width: 100%;
        > li {
          padding: 0 0 1rem 0.5rem;
          float: none !important;
          display: block !important;
          text-align: left !important;
          &:nth-child(2) {
            padding-top: 2rem;
          }
        }
      }
    }
  }
	.box {
		width: 100% !important;
		margin-bottom: 1.5rem; 
	}
	.col-8 {
		width: 100% !important;
		padding-bottom: 1rem;
	}
	.col-8 {
    > ul {
      float: none !important;
      text-align: center;
      }
  }
  .col-4 {
    width:  100% !important;
    p {
  		text-align: center;
  	}
  }
}

/*Header*/
.header {
	min-height: 120px;
	position: relative;
	background: black;
	width: 100%;
  margin-bottom: 0;
  &:after {
    clear: both;
  }
  &:after, 
  &:before {
    content: " ";
    display: table;
  }
}
.container{
  &:after {
    clear: both;
  }
  &:after,
  &:before {
    content: " ";
    display: table;
  }
}
.logo {
	color: white;
	width: 30%;
	float: left;
	display: inline-block;
}
.nav-bar {
	width: 70%;
	float: right;
  text-align: right;
  > ul {
    display: inline-block;
    text-decoration: none;
    > li {
      padding-top: 42px;
      padding-bottom: 47px;
      padding-left: 20px;
      padding-right: 20px;
      display: inline-block;
      > a {
        text-decoration: none;
        .list-item{
          p {
            font-family: "Poppins", sans-serif;
            font-size: 1.1rem;
            color: white;
            text-decoration: inherit;
            transition: color .5s ease-in-out;
          }
          .bottom-bar {
            width: 0%;
						background: orange;
						height: 2px;
						margin-top: 5px;
						transition: width .5s;
						transition-timing-function: ease-in-out;
          }
          &.active{
            p{
              color: orange;
            }
            .bottom-bar{
              width: 100%;
            }
          }
        }
      }
      &:nth-child(1) {display: none;}
      &:hover {
        > a {
          .list-item {
            p {
              color: orange;
            }
            .bottom-bar {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.icon-bar {
	display: block !important;
	background-color: orange;
	border-radius: 5px;
	width: 22px;
  height: 2px;
  &:not(:nth-child(3)) {
    margin-bottom: 4px;
  }
}

/*Page header*/
.content {
	width: 100%;
}
.page-header * {
	position: relative;
}
.page-header{
	width: 100%;
	background: 50% 50%/cover no-repeat;
	margin: 0;
  position: relative;
  &:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0, .5);
  }
  .title {
    font-family: Playfair Display,serif;
    font-weight: 100;
    color: white;
    font-size: 3rem;
    text-align: center;
    p {
      clear: both;
    }
  }
}
.section-padding{
	padding: 4.5rem 0;
}

/* Boxes */

.boxes {
	font-family: Poppins,sans-serif;
	font-weight: lighter;
	background: #e2e2e2;
	text-align: center;
	padding: 3.5rem 0;
  width: 100%;
  .active {
    box-shadow: 0 0 3.4rem -1.1rem rgba(0,0,0,.45);
    padding: 2.5rem 3.8rem;
    position: relative;
    border-top: 2px solid orange;
    .title {
      margin-bottom: 2.5rem !important;
      font-weight: bold !important; 
      color: orange !important;
      font-size: 1.5rem !important;
    }
    .title-2 {
      color: gray;
      font-size: 1.1rem;
      margin-bottom: 2rem;
      font-weight: lighter; 
    }
  }
  .box {
    vertical-align: middle;
    padding: 2.5rem;
    background: white;
    width: 33.3%;
    display: inline-block;
    .title {
      margin-bottom: 2rem;
      font-size: 1.5rem; 
      color: gray;
      font-weight: lighter; 
    }
    .content {
      font-size: 1rem;
      color: silver;
      font-weight: lighter; 
    }
    .active {
      .content {
        font-size: 1rem;
        color: silver;
        font-weight: lighter; 
      }
    }
  }
}

/** Discover **/
.discover {
	font-family: Poppins,sans-serif;
	text-align: center;
	background:50% 50%/cover no-repeat;
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
  }
  .title {
    font-size: 1.7rem;
    color: white;
    margin-bottom: 2rem;
    p {
      clear:both;
    }
  }
}
.discover * {
	position: relative;
}
.search-bar {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0;
  > input {
    &:first-child {
      width: 35%;
      border-radius: 5px 0 0 5px;
    }
    &:nth-child(2) {
      width: 20%;
    }
    &:nth-child(3) {
      width: 25%;
    }
  }
}